.root {
    -md-fg-color: #c9d1d9;
    -md-bg-color: #0d1117;
    -md-link-color: #58a6ff;
    -md-code-fg-color: #ff7b72;
    -md-code-bg-color: #161b22;
    -md-border-color: #30363d;
    -md-quote-bg-color: #161b22;
    -md-quote-border-color: #30363d;
    -md-table-header-bg: #161b22;
}
