/* Inline Math Styles */
.markdown-math {
    -fx-font-family: "Times New Roman", "Serif";
    -fx-font-style: italic;
    -fx-font-size: 16px;
    -fx-text-fill: -md-fg-color;
    -fx-background-color: -md-inline-math-bg-color;
    -fx-padding: 0 4;
    -fx-background-radius: 3;
}
